// VARIABLES //

@background: #f0f0f0;
@white: #ffffff;
@purple: #7747ac;
@red: #ff6666;
@yellow: #fec449;
@grey: #777;
@light-grey: #dddddd;

@sans-serif: 'FreightSans', Helvetica, Arial, sans-serif;
@serif: 'Calendas Plus', Georgia, Times, serif;

// MIXINS //

.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.transition (@transition: .25s) {
  -webkit-transition: @transition;  
  -moz-transition:    @transition;
  -ms-transition:     @transition; 
  -o-transition:      @transition;  
}

// GENERAL STYLES //

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  background: @background;
  font-family: @sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: @grey;
  margin: 0;
}
.false-background{
  background: @background;
  z-index: 0;

  -webkit-box-shadow: 0px -80px 100px 0px rgba(0, 0, 0, .5);      
  box-shadow: 0px -80px 100px 0px rgba(0, 0, 0, .5);
  .content{
    padding-top: 40px;
  }
}
.content{
  padding: 0 20px;
  max-width: 740px;
  margin: 0 auto;
  position: relative;
}
p {
  font-size: 22px;
  line-height: 34px;
}
h1 {
  font-family: @serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 50px;
}
h3{
  font-family: @serif;
  font-size: 36px;
  line-height: 38px
}

ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
a {
  color: @grey;
  text-decoration: none;

  .transition;

}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: @red;
}
input {
  border: none;
  outline: none;

  .transition;

}
img {
  outline: 0;
  width: 100%;
  
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
}



// HEADER //
.image-wrap{
  max-height: 400px;
  overflow: hidden;
  z-index: -2;
  position: fixed; 
  top: 0;
  .header-image{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: inherit;

    -webkit-box-shadow: inset 0px 80px 100px 0px rgba(0, 0, 0, .5);      
    box-shadow: inset 0px 80px 100px 0px rgba(0, 0, 0, .5);
  }
}
h1.page-title{
  text-align: center;
  max-width: 740px;
  margin: 140px auto;
  color: @white;
  text-shadow: 1px 1px 4px rgba(0,0,0,.3);
}
.default-header{
    height: 300px;
    img.page-title{
      width: 300px;
      height: 155px;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      top:115px;
    }
}

// NAVIGATION //

nav.menu{
  width: 100%;
  padding: 18px 0;
  overflow: hidden;
  z-index: 1;
  ul{
    float: left;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      margin-right: 10px;
      a{
        color: @white;
        font-weight: 500;
        padding: 8px 26px;

        .rounded-corners(200px);

        &:hover{
          background: rgba(255,255,255,.2);
        }
        &.active{
          border: 1px solid @white;
        }
      }
    }
  }
  form.search{
    position: absolute;
    right: 0;
    top: -6px;
    input[type=text]{
      padding: 10px;
      background: rgba(255,255,255,.15);
      width: 130px;

      .rounded-corners(200px);

      &:focus{
        background: @white;
        width: 180px;
      }
    }
    input[type=submit]{
      display: none;
    }
    ::-webkit-input-placeholder { color:rgba(255,255,255,.4) }
    ::-moz-placeholder { color:rgba(255,255,255,.4) } /* firefox 19+ */
    :-ms-input-placeholder { color:rgba(255,255,255,.4) } /* ie */
    input:-moz-placeholder { color:rgba(255,255,255,.4) }
  }
}

// TAGS //

ul.tags{
  li{
    display: inline-block;
    font-size: 16px;
    background: @white;
    padding: 1px 13px;
    margin: 0 2px 6px 0;

    .rounded-corners(200px);
  }
}

.tagcloud{
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid @light-grey;

}


// LIST RESULTS AND ARTICLES (for default browsing, tag results, and search results) //

.content{
  article{
    .image-preview{
      margin: 16px 0 -10px;
      padding: 1%;
      background: @white;
      span{
        width: 32.66667%;
        max-height: 160px;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        margin-right: 1%;
        margin-left: -3px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .post-icon{
      padding: 26px;
      display: inline-block;
      float: left;
      
      .rounded-corners(200px);
    }
    .post-icon-bread{
      background: @yellow;
    }
    .post-icon-sweet{
      background: @red;
    }
    .post-icon-savory{
      background: @purple;
    }
    .post-title{
      display: inline-block;
      margin-left: 15px;
      h3{
        margin: 12px 10px 0 0;
      }
    }
    padding-bottom: 10px;
    margin-bottom: 34px;
    border-bottom: 1px solid @light-grey;
    &:last-child{
      border-bottom: none;
    }
    a.read-more{
      font-family: @serif;
      font-size: 22px;
      font-style: italic;
      color: @red;
      &:hover{
        color: @grey;
      }
    }
  }
}


// ARTICLE SPECIFIC //

.blogarticle{
  article{
    img {
      border: 10px solid @white;
    }
  }
}


// FOOTER //

footer{
  text-align: center;
  margin-top: 80px;
  padding: 20px 0;
  border-top: 1px solid @light-grey;
  background: lighten(@light-grey 5%);
}