html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #f0f0f0;
  font-family: 'FreightSans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #777;
  margin: 0;
}
.false-background {
  background: #f0f0f0;
  z-index: 0;
  -webkit-box-shadow: 0px -80px 100px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -80px 100px 0px rgba(0,0,0,0.5);
}
.false-background .content {
  padding-top: 40px;
}
.content {
  padding: 0 20px;
  max-width: 740px;
  margin: 0 auto;
  position: relative;
}
p {
  font-size: 22px;
  line-height: 34px;
}
h1 {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 50px;
}
h3 {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 36px;
  line-height: 38px;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
a {
  color: #777;
  text-decoration: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #ff6666;
}
input {
  border: none;
  outline: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
}
img {
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.image-wrap {
  max-height: 400px;
  overflow: hidden;
  z-index: -2;
  position: fixed;
  top: 0;
}
.image-wrap .header-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: inherit;
  -webkit-box-shadow: inset 0px 80px 100px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 80px 100px 0px rgba(0,0,0,0.5);
}
h1.page-title {
  text-align: center;
  max-width: 740px;
  margin: 140px auto;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.default-header {
  height: 300px;
}
.default-header img.page-title {
  width: 300px;
  height: 155px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 115px;
}
nav.menu {
  width: 100%;
  padding: 18px 0;
  overflow: hidden;
  z-index: 1;
}
nav.menu ul {
  float: left;
  padding: 0;
  margin: 0;
}
nav.menu ul li {
  display: inline-block;
  margin-right: 10px;
}
nav.menu ul li a {
  color: #ffffff;
  font-weight: 500;
  padding: 8px 26px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
nav.menu ul li a:hover {
  background: rgba(255,255,255,0.2);
}
nav.menu ul li a.active {
  border: 1px solid #ffffff;
}
nav.menu form.search {
  position: absolute;
  right: 0;
  top: -6px;
}
nav.menu form.search input[type=text] {
  padding: 10px;
  background: rgba(255,255,255,0.15);
  width: 130px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
nav.menu form.search input[type=text]:focus {
  background: #ffffff;
  width: 180px;
}
nav.menu form.search input[type=submit] {
  display: none;
}
nav.menu form.search ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4);
}
nav.menu form.search ::-moz-placeholder {
  color: rgba(255,255,255,0.4);
}
nav.menu form.search :-ms-input-placeholder {
  color: rgba(255,255,255,0.4);
}
nav.menu form.search input:-moz-placeholder {
  color: rgba(255,255,255,0.4);
}
ul.tags li {
  display: inline-block;
  font-size: 16px;
  background: #ffffff;
  padding: 1px 13px;
  margin: 0 2px 6px 0;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
.tagcloud {
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dddddd;
}
.content article {
  padding-bottom: 10px;
  margin-bottom: 34px;
  border-bottom: 1px solid #dddddd;
}
.content article ul.image-preview {
  padding: 2%;
  background: #ffffff;
}
.content article ul.image-preview li {
  width: 32%;
  height: 160px;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  margin-right: 1%;
}
.content article ul.image-preview li:last-child {
  margin-right: 0;
}
.content article .post-icon {
  padding: 26px;
  display: inline-block;
  float: left;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
.content article .post-icon-bread {
  background: #fec449;
}
.content article .post-icon-sweet {
  background: #ff6666;
}
.content article .post-icon-savory {
  background: #7747ac;
}
.content article .post-title {
  display: inline-block;
  margin-left: 15px;
}
.content article .post-title h3 {
  margin: 12px 10px 0 0;
}
.content article:last-child {
  border-bottom: none;
}
.content article a.read-more {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 22px;
  font-style: italic;
  color: #ff6666;
}
.content article a.read-more:hover {
  color: #777;
}
.blogarticle article img {
  border: 10px solid #ffffff;
}
footer {
  text-align: center;
  margin-top: 80px;
  padding: 20px 0;
  border-top: 1px solid #dddddd;
  background: #eaeaea;
}
