html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #f0f0f0;
  font-family: 'FreightSans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #777;
  margin: 0;
}
.content {
  padding: 0 20px;
  max-width: 640px;
  margin: 0 auto;
}
p {
  font-size: 18px;
  line-height: 30px;
}
h1 {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 50px;
}
a {
  color: #777;
  text-decoration: none;
  transition: .25s;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #ff6666;
}
img {
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
header {
  background: #7747ac;
  width: 100%;
  text-align: center;
  padding: 80px 0;
}
header a {
  color: #ffffff;
}
header a:hover {
  color: rgba(0,0,0,0.2);
}
.blog article {
  padding: 30px 0;
  border-bottom: 1px solid #dddddd;
}
.blog article .post-icon {
  padding: 30px;
  display: inline-block;
  float: left;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.blog article .post-icon-bread {
  background: #fec449;
}
.blog article .post-icon-sweet {
  background: #ff6666;
}
.blog article .post-icon-savory {
  background: #7747ac;
}
.blog article .post-header {
  display: inline-block;
  margin-left: 30px;
}
.blog article:last-child {
  border-bottom: none;
}
.blog article a.read-more {
  color: #ff6666;
}
.blog article a.read-more:hover {
  color: #777;
}
.blogarticle article {
  padding: 30px 0;
}
.blogarticle article img {
  border: 10px solid #ffffff;
}
footer {
  text-align: center;
  margin-top: 80px;
  padding: 20px 0;
  border-top: 1px solid #dddddd;
  background: #eaeaea;
}
