html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #f0f0f0;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #777;
  margin: 0;
}
.false-background {
  background: #f0f0f0;
  z-index: 0;
  -webkit-box-shadow: 0px -80px 100px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -80px 100px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -80px 100px 0px rgba(0,0,0,0.5);
}
.false-background .content {
  padding-top: 20px;
}
.content {
  padding: 0 20px;
  max-width: 740px;
  margin: 0 auto;
  position: relative;
}
p {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 20px;
  line-height: 34px;
}
h1 {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
}
h3 {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 38px;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
a {
  color: #777;
  text-decoration: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #ff6666;
}
input {
  border: none;
  outline: none;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
}
img {
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.image-wrap {
  max-height: 500px;
  overflow: hidden;
  z-index: -2;
  position: fixed;
  top: 0;
}
.image-wrap .header-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: inherit;
}
.image-opacity {
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -2;
  -webkit-box-shadow: inset 0px 80px 100px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 80px 100px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 80px 100px 0px rgba(0,0,0,0.5);
}
.image-opacity-fade {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -2;
}
.title-wrap,
.default-title-wrap {
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}
.title-wrap {
  max-width: 740px;
  margin: 160px auto 10px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.default-title-wrap {
  background: #7747ac;
  margin-bottom: 30px;
}
.default-title-wrap h1 {
  margin: 0 auto;
  padding: 160px 0 100px;
  max-width: 740px;
}
h1.page-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2.page-subheader {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  margin: 10px 0 100px;
  font-weight: 300;
  font-size: 26px;
  font-style: italic;
}
.default-header {
  height: 350px;
  background: #7747ac;
}
.default-header img.page-title {
  width: 300px;
  height: 155px;
  position: absolute;
  left: 50%;
  top: 110px;
  margin-left: -150px;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
nav.menu {
  width: 100%;
  padding: 18px 0;
  overflow: hidden;
  background: rgba(0,0,0,0.2);
}
nav.menu ul {
  float: left;
  padding: 0;
  margin: 0;
}
nav.menu ul li {
  display: inline-block;
  margin-right: 10px;
}
nav.menu ul li a {
  color: #ffffff;
  font-weight: 500;
  padding: 8px 26px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
nav.menu ul li a:hover {
  background: rgba(255,255,255,0.2);
}
nav.menu ul li a.active {
  border: 1px solid #ffffff;
}
nav.menu form.search {
  position: absolute;
  right: 20px;
  top: -6px;
}
nav.menu form.search input[type=text] {
  padding: 10px;
  background: rgba(0,0,0,0.5);
  width: 130px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
nav.menu form.search input[type=text]:focus {
  background: #ffffff;
  width: 180px;
}
nav.menu form.search input[type=submit] {
  display: none;
}
nav.menu form.search ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4);
}
nav.menu form.search ::-moz-placeholder {
  color: rgba(255,255,255,0.4);
}
nav.menu form.search :-ms-input-placeholder {
  color: rgba(255,255,255,0.4);
}
nav.menu form.search input:-moz-placeholder {
  color: rgba(255,255,255,0.4);
}
ul.tags li {
  display: inline-block;
  font-size: 16px;
  background: #ffffff;
  padding: 1px 13px;
  margin: 0 2px 6px 0;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
.tagcloud {
  text-align: center;
  padding-bottom: 50px;
  margin: 50px 0;
  border-bottom: 1px solid #dddddd;
}
.post-icon {
  padding: 10px;
  width: 20px;
  height: 20px;
  float: left;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}
.post-icon.post-icon-detail {
  float: none;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
  box-shadow: 0 0 0 6px rgba(0,0,0,0.4);
}
.post-icon-bread {
  background: #fec449;
}
.post-icon-sweet {
  background: #ff6666;
}
.post-icon-savory {
  background: #7747ac;
}
.post-date {
  color: #b0b0b0;
  font-size: 16px;
}
.post-date.post-date-detail {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}
.content article {
  padding-bottom: 10px;
  margin-bottom: 34px;
  border-bottom: 1px solid #dddddd;
}
.content article .image-preview {
  margin: 16px 0 -10px;
  padding: 1%;
  background: #ffffff;
}
.content article .image-preview span {
  width: 32.66667%;
  max-height: 160px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin-right: 1%;
  margin-left: -5px;
}
.content article .image-preview span:first-child {
  margin-left: 0;
}
.content article .image-preview span:last-child {
  margin-right: 0;
}
.content article .post-title {
  display: inline-block;
}
.content article .post-title h3 {
  margin: 12px 10px 0 0;
}
.content article:last-child {
  border-bottom: none;
}
.content article a.read-more {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 22px;
  font-style: italic;
  color: #ff6666;
}
.content article a.read-more:hover {
  color: #777;
}
.blogarticle article p {
  margin-bottom: 20px;
}
.blogarticle article a {
  color: #ff6666;
}
.blogarticle article a:hover {
  color: #b0b0b0;
}
.blogarticle article h1 {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 50px 0 0;
  position: relative;
}
.blogarticle article h2 {
  font-family: ;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-top: 5px;
  color: #aaaaaa;
}
.blogarticle article img {
  border: 10px solid #ffffff;
  margin-bottom: 0;
}
.blogarticle article h3 {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  background: #ffffff;
  margin: -38px 0 30px;
  padding: 10px;
  text-align: center;
}
.blogarticle article ol,
.blogarticle article ul {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 16px;
  background: #ffffff;
  padding: 20px;
  border: 10px double #f0f0f0;
  max-width: 330px;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.blogarticle article ol li,
.blogarticle article ul li {
  margin-bottom: 18px;
  line-height: 22px;
}
.blogarticle article ol li:last-child,
.blogarticle article ul li:last-child {
  margin-bottom: 0;
}
.blogarticle article ol li:first-child,
.blogarticle article ul li:first-child {
  font-family: 'Calendas Plus', Georgia, Times, serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  background: #ffffff;
  font-style: italic;
  text-align: center;
  max-width: 330px;
  margin: 0 auto;
  padding-bottom: 5px;
  position: relative;
}
.blogarticle article ol li:first-child:after,
.blogarticle article ul li:first-child:after {
  content: "";
  background: #f0f0f0;
  display: block;
  width: 50px;
  height: 4px;
  margin: 30px auto;
}
.blogarticle article ol li {
  margin-left: 20px;
}
footer {
  text-align: center;
  margin-top: 80px;
  padding: 20px 0;
  border-top: 1px solid #dddddd;
  background: #eaeaea;
}
